{% extends 'flatpages/default.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}
News
{% endblock title %}

{% block content %}
    <h1>Всего {{ allnews|length }} Все Новости  </h1>
    <hr>
    {% if allnews %}
        <table>
            <tr>
                <td>
                    Заголовок
                </td>
                <td>
                    Дата
                </td>
                <td>
                    Текст статьи
                </td>

            </tr>
        {% for article in allnews %}
            <tr>
                <td>
                    {{ article.name|censor}}
                </td>
                <td>
		            {{ article.creationTime}}
                </td>
                <td>
                    {{ article.description|truncatechars:50|censor}}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
{% endblock content %}